#banner-section {
    padding: 2rem 5rem;
    box-sizing: border-box;
    /* background-color: #DFEEEA; */
}

.banner-wrapper {
    display: flex;
    box-sizing: border-box;
}

.banner-wrapper>* {
    flex: 1;
}

@media screen and (max-width:600px) {
    #banner-section {
        padding: 1.5rem 1rem;
        display: none;
    }

    .banner-wrapper {
        flex-direction: column;
    }
}