#login-section {
    padding: 5rem 5rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 39.5rem;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-input {
    padding: .6rem 1.5rem;
    font-size: 1rem;
}

.login-btn {
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    background-color: rgb(15, 46, 61);
    border: none;
    color: aliceblue;
    border-radius: .5rem;
}


@media screen and (max-width:600px) {
    #login-section {
        /* padding: 0; */
        height: 41.25rem;

        box-sizing: border-box;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .login-input {
        padding: .6rem 1.5rem;
        font-size: 1rem;
    }

    .login-btn {
        margin-top: 2rem;
        width: fit-content;
        padding: 1rem 5rem;
        font-size: 1.2rem;
        background-color: rgb(15, 46, 61);
        border: none;
        color: aliceblue;
        border-radius: .5rem;
    }
}