.service-card {
    padding: 1.5rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-card i {
    display: block;
    margin: .2rem;
    flex: 15%;
}

.service-card p {
    margin: 0;
    flex: 85%;
}

@media screen and (max-width:600px) {
    .service-card {
        padding: 1rem .5rem .5rem;
        border-radius: .5rem;
        gap: 1.1rem;
    }

    .service-card i {
        margin: 0rem;
        flex: 10%;
        scale: .6;
    }

    .service-card p {
        font-size: .9rem;
        flex: 90%;
        line-height: 1.1rem;
    }
}