#user-card {
    /* border: 1px solid; */
    flex-direction: column;
    padding: 1.5rem 0 2rem;
    gap: 1rem;

    border-radius: .5rem;
    background-color: aliceblue;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
    box-sizing: border-box;

    font-family: 'Kanit', sans-serif;
}

.user-profile-photo {
    font-size: 2rem;
    /* font-weight: 900; */
    border: 2px solid;
    border-radius: 50%;
    padding: 1rem 1.5rem;
}

.user-name h3 {
    margin: 0;
}

.user-logout {
    margin-top: 5rem;
}

.user-logout-btn {
    padding: .5rem 3rem;
    border: none;
    background-color: rgb(66, 66, 66);
    color: aliceblue;
    font-size: 1rem;
    border-radius: 1rem;
    font-family: 'Kanit', sans-serif;
}

.user-logout-btn:hover {
    background-color: rgb(54, 42, 42);
}

.user-logout-btn:active {
    background-color: rgb(31, 30, 30);
}


@media screen and (max-width:600px) {

    #user-card {
        gap: 0rem;
    }

    .user-logout {
        margin-top: 3rem;
    }
}