.about-services {
    /* flex: 10%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0 2rem;
    font-family: var(--article-font);
}

@media screen and (max-width:600px) {
    .about-services {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        padding: 0 0rem;
        font-family: var(--article-font);
    }
}