.about-doctors {
    box-sizing: border-box;
    justify-content: unset;
    align-items: unset;
}


@media screen and (max-width:600px) {
    .about-doctors {
        /* padding: 1rem 0; */
        /* flex-direction: column !important; */
    }
}