#about-section {
    padding: 2rem 6rem;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid; */

    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* background-color: rgb(236, 242, 248); */
    /* background-color: #0E2954; */
}

#about-section h1 {
    font-size: 2rem;
    margin: 1rem 0 0rem;
    font-family: var(--Secondary-font);
    font-weight: 700;
    /* margin: 3rem 0rem 1rem; */
}


@media screen and (max-width:600px) {
    #about-section {
        padding: 1rem 1rem;
        gap: 1.5rem;
    }

    #about-section h1 {
        font-size: 1.2rem;
        margin: 0rem;
    }
}